@import './node_modules/bulma/bulma.sass';
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

input[type='number'], textarea {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.section {
    min-height: calc(100vh - 92px);
}
.title {
    text-align: center;
    font-size: 3rem!important;

    @media (min-width: 992px) {
        font-size: 4rem!important;
        margin-bottom: 0;
    }
}

.box {
    background-color: white;
    box-shadow: 0px 5px 17px #292929, 0 0 0 1px rgba(10, 10, 10, 0.04)!important;
    color: #4a4a4a;
    display: block;
    border-radius: 2px!important;
    padding: 1.8rem!important;
    
    @media (min-width: 992px) {
        padding: 2.5rem!important;
    }
}

#name, #price, #email, #description, #quantity {
    display: block;
    width: 100%;
    font-size: 1rem;
    margin-bottom: 0.75rem;
    padding: 0.25rem 0;
    border: none;
    border-bottom: 1px solid $grey-lighter;
    transition: all .5s;
    box-shadow: none;
    border-radius: 0;

    &:hover {
        border-color: $grey;
    }

    &:active,
    &:focus {
        border-color: $primary;
    }

}

.title-underline { 
    width: 200px;
    margin: 1.3rem auto 2rem;
}

.level-item {
    @media (max-width: 992px) {
        display: block;
    }
} 

.form-padding {
    padding: 1.8rem 1.5rem!important;
}

.pagination-next,
.pagination-previous {
    width: 100px!important;
}

.pagination a {
    display: block;
    padding: 0px 10px;
    line-height: 20px;
    border: 1px solid grey;
}

.pagination .active {
    font-weight: bolder;
}

.pagination .disabled {
    color: #4a4a4a85!important;
    cursor: no-drop!important;
}


.column:not(:last-child) {
    position: relative;

    @media (min-width: 769px) {
        margin-right: 0.8rem;
    }
}

.tile {
    justify-content: center;
}

.tile-margins {
    margin: 0.5rem;
}

.selects {
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;
}

.selects:nth-child(1) {
    margin-top: 4px!important;
}

.box:not(:last-child) {
    @media (min-width: 769px) {
        margin-bottom: 0!important; 
    }
}

@media (min-width: 769px){
    .pagination {
        justify-content: center!important;
    }
}

.is-one-quarter > ul li {
    cursor: pointer;
}

.field {
    position: relative;
}

.column {
    position: relative;
}

.tags {
    position: absolute;
    bottom: -10px;
    left: 10px;
}